In [13]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/energy_consumption_dataset.csv')
df.head()

,Building_ID,Building_Type,Square_Footage,Age_of_Building,Occupancy_Count,Date,Day_of_Week,Month,Time_of_Day,Outdoor_Temperature,HVAC_Usage,Appliance_Usage,Holiday_Flag,Renewable_Energy_%,Weather_Condition,Energy_Consumption_kWh,Anomaly_Flag,Peak_Usage_Flag,Temp_vs_Consumption_Ratio,Building_Size_Category
0,125,Residential,2882.727120,1,4.0,2023-08-22,Tuesday,August,Evening,79.102869,High,1,0,18.0,Sunny,250.69,0,1,3.169164,Medium
1,36,Residential,2397.797732,9,3.0,2023-05-22,Monday,May,Evening,NaN,Low,1,0,10.0,Cloudy,89.96,0,0,NaN,Medium
2,2,Residential,1930.867849,21,5.0,2023-05-25,Thursday,May,Evening,59.906903,Low,1,0,9.0,Cloudy,87.20,0,0,1.455592,Medium
3,229,Commercial,6696.244285,3,35.0,2023-10-03,Tuesday,October,Day,74.880985,Medium,1,0,0.0,Sunny,377.27,0,0,5.038262,Large
4,97,Commercial,11818.388089,35,16.0,2023-12-24,Sunday,December,Day,35.136324,High,1,0,0.0,Cloudy,397.68,0,0,11.318202,Very Large

In [3]:
print("Dataset dimensions (rows, columns):", df.shape)

Dataset dimensions (rows, columns): (50000, 20)

In [5]:
# Check data types
print("Data Types:")
print(df.dtypes)

Data Types:
Building_ID                    int64
Building_Type                 object
Square_Footage               float64
Age_of_Building                int64
Occupancy_Count              float64
Date                          object
Day_of_Week                   object
Month                         object
Time_of_Day                   object
Outdoor_Temperature          float64
HVAC_Usage                    object
Appliance_Usage                int64
Holiday_Flag                   int64
Renewable_Energy_%           float64
Weather_Condition             object
Energy_Consumption_kWh       float64
Anomaly_Flag                   int64
Peak_Usage_Flag                int64
Temp_vs_Consumption_Ratio    float64
Building_Size_Category        object
dtype: object

In [6]:
print("\
Missing Values Count:")
print(df.isnull().sum())

Missing Values Count:
Building_ID                     0
Building_Type                   0
Square_Footage                  0
Age_of_Building                 0
Occupancy_Count              1000
Date                            0
Day_of_Week                     0
Month                           0
Time_of_Day                     0
Outdoor_Temperature           446
HVAC_Usage                      0
Appliance_Usage                 0
Holiday_Flag                    0
Renewable_Energy_%             73
Weather_Condition               0
Energy_Consumption_kWh          0
Anomaly_Flag                    0
Peak_Usage_Flag                 0
Temp_vs_Consumption_Ratio     446
Building_Size_Category          0
dtype: int64

In [7]:
# Check for duplicates
duplicates = df.duplicated().sum()
print("\
Number of duplicate rows:", duplicates)

Number of duplicate rows: 0

In [8]:

# Basic statistics for numerical columns
print("\
Basic Statistics for Numerical Columns:")
print(df.describe())

Basic Statistics for Numerical Columns:
        Building_ID  Square_Footage  Age_of_Building  Occupancy_Count  \
count  50000.000000    50000.000000     50000.000000     49000.000000
mean     150.693240     4371.781833        25.501140        17.347490
std       86.585811     4199.904344        13.962965        33.382991
min        1.000000      672.411976         1.000000         0.000000
25%       75.000000     1880.202746        14.000000         2.000000
50%      151.000000     2301.720613        27.000000         4.000000
75%      226.000000     6071.052130        37.000000         7.000000
max      300.000000    18203.266477        49.000000       198.000000

       Outdoor_Temperature  Appliance_Usage  Holiday_Flag  Renewable_Energy_%  \
count         49554.000000     50000.000000  50000.000000        49927.000000
mean             57.383271         0.671060      0.030220            4.823462
std              19.296847         0.469833      0.171194            8.498942
min              12.234387         0.000000      0.000000            0.000000
25%              40.213776         0.000000      0.000000            0.000000
50%              57.242070         1.000000      0.000000            0.000000
75%              74.686788         1.000000      0.000000            8.000000
max             102.456885         1.000000      1.000000           30.000000

       Energy_Consumption_kWh  Anomaly_Flag  Peak_Usage_Flag  \
count            50000.000000   50000.00000     50000.000000
mean               213.875499       0.02924         0.179420
std                243.791176       0.16848         0.383707
min                  3.163192       0.00000         0.000000
25%                 77.037500       0.00000         0.000000
50%                133.525000       0.00000         0.000000
75%                248.895000       0.00000         0.000000
max               4697.763743       1.00000         1.000000

       Temp_vs_Consumption_Ratio
count               49554.000000
mean                    4.341707
std                     5.866090
min                     0.047222
25%                     1.338017
50%                     2.409948
75%                     5.010268
max                   108.414436

In [9]:
# Get the full statistics for numerical columns
print(df.describe().transpose())

                             count         mean          std         min  \
Building_ID                50000.0   150.693240    86.585811    1.000000
Square_Footage             50000.0  4371.781833  4199.904344  672.411976
Age_of_Building            50000.0    25.501140    13.962965    1.000000
Occupancy_Count            49000.0    17.347490    33.382991    0.000000
Outdoor_Temperature        49554.0    57.383271    19.296847   12.234387
Appliance_Usage            50000.0     0.671060     0.469833    0.000000
Holiday_Flag               50000.0     0.030220     0.171194    0.000000
Renewable_Energy_%         49927.0     4.823462     8.498942    0.000000
Energy_Consumption_kWh     50000.0   213.875499   243.791176    3.163192
Anomaly_Flag               50000.0     0.029240     0.168480    0.000000
Peak_Usage_Flag            50000.0     0.179420     0.383707    0.000000
Temp_vs_Consumption_Ratio  49554.0     4.341707     5.866090    0.047222

                                   25%          50%          75%           max
Building_ID                  75.000000   151.000000   226.000000    300.000000
Square_Footage             1880.202746  2301.720613  6071.052130  18203.266477
Age_of_Building              14.000000    27.000000    37.000000     49.000000
Occupancy_Count               2.000000     4.000000     7.000000    198.000000
Outdoor_Temperature          40.213776    57.242070    74.686788    102.456885
Appliance_Usage               0.000000     1.000000     1.000000      1.000000
Holiday_Flag                  0.000000     0.000000     0.000000      1.000000
Renewable_Energy_%            0.000000     0.000000     8.000000     30.000000
Energy_Consumption_kWh       77.037500   133.525000   248.895000   4697.763743
Anomaly_Flag                  0.000000     0.000000     0.000000      1.000000
Peak_Usage_Flag               0.000000     0.000000     0.000000      1.000000
Temp_vs_Consumption_Ratio     1.338017     2.409948     5.010268    108.414436

In [10]:
# Check unique values for categorical columns
print("\
Unique values in categorical columns:")
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"{col}: {df[col].nunique()} unique values")
    print(f"Sample values: {df[col].unique()[:5]}")

Unique values in categorical columns:
Building_Type: 2 unique values
Sample values: ['Residential' 'Commercial']
Date: 365 unique values
Sample values: ['2023-08-22' '2023-05-22' '2023-05-25' '2023-10-03' '2023-12-24']
Day_of_Week: 7 unique values
Sample values: ['Tuesday' 'Monday' 'Thursday' 'Sunday' 'Wednesday']
Month: 12 unique values
Sample values: ['August' 'May' 'October' 'December' 'September']
Time_of_Day: 4 unique values
Sample values: ['Evening' 'Day' 'Night' 'Morning']
HVAC_Usage: 3 unique values
Sample values: ['High' 'Low' 'Medium']
Weather_Condition: 4 unique values
Sample values: ['Sunny' 'Cloudy' 'Rainy' 'Snowy']
Building_Size_Category: 4 unique values
Sample values: ['Medium' 'Large' 'Very Large' 'Small']

In [11]:
# Check date range
df['Date'] = pd.to_datetime(df['Date'])
print("\
Date range:")
print(f"Start date: {df['Date'].min()}")
print(f"End date: {df['Date'].max()}")

Date range:
Start date: 2023-01-01 00:00:00
End date: 2023-12-31 00:00:00

In [12]:
# Check for any potential issues in the data
print("\
Range of values for key metrics:")
print(f"Energy Consumption (kWh): {df['Energy_Consumption_kWh'].min()} to {df['Energy_Consumption_kWh'].max()}")
print(f"Square Footage: {df['Square_Footage'].min()} to {df['Square_Footage'].max()}")
print(f"Age of Building: {df['Age_of_Building'].min()} to {df['Age_of_Building'].max()}")
print(f"Renewable Energy %: {df['Renewable_Energy_%'].min()} to {df['Renewable_Energy_%'].max()}")

Range of values for key metrics:
Energy Consumption (kWh): 3.1631919409374305 to 4697.763743087185
Square Footage: 672.411976218265 to 18203.266477185225
Age of Building: 1 to 49
Renewable Energy %: 0.0 to 30.0

Summary: 
The dataset comprises 50,000 rows and 20 columns# .
There are missing values in several columns (especially in Outdoor_Temperature and Occupancy_Count# ). 
No duplicate rows were u# nd.
Basic statistics and unique counts indicate a mix of residential and commercial buildings, featuring a proper date range covering the full ye 2# 023.
The numerical columns show wide ranges, especially for energy consumption and building .yses.